/*Alternative CSS box model*/
* {
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0rem;
}

#wrapper {
  width: 90%;
  border: 5px solid darkolivegreen;
  margin: auto;
  padding: 1.25rem;
}

h1 {
  text-align: center;
  color: #6ff527;
  background-color: burlywood;
  width: 18.75rem;
  padding: 1.25rem;
  border: 5px solid firebrick;
  margin: auto;
  box-shadow: 15px 15px 15px orange;
  text-shadow: 5px 5px 5px orange;
  border-radius: 1rem;
  margin-top: 1rem;
}
.about-heading {
  color: firebrick;
}

h2 {
  font-size: 2rem;
  font-family: "Kalnia", serif;
  color: darkorchid;
  background-color: beige;
  font-weight: normal;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: blueviolet;
}
/* Link Styles */
a:hover {
  color: cadetblue;
}
/* List Styles */
ul {
  list-style: none;
  border: 4px solid goldenrod;
  padding: 0rem;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 4rem; */
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
}

ol {
  list-style: upper-alpha;
  color: #6ff527;
}

li {
  border: 2px solid firebrick;
  flex: 1;
}

/*Form Styles*/
form {
  border: 2px solid darkgray;
  padding: 1rem;
  background-color: blanchedalmond;
}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 100%;
  border: none;
}

input[type="checkbox"] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

#form-check > label {
  display: inline-block;
}

input[type="number"] {
  width: 15%;
}

textarea {
  font-family: inherit;
}

form > button {
  background-color: cornflowerblue;
  color: ghostwhite;
  border: none;
  padding: 0.375rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: lightskyblue;
}
